# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Optional package locks - uncomment if you don't want to commit them
# package-lock.json
# yarn.lock 